* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: rgb(0, 15, 28);
    background: linear-gradient(31deg, rgba(0, 15, 27, 1) 14%, rgb(23, 6, 0) 100%);
    margin: 3px;
    flex: 1 1 100vw;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
:root{
    --linear: linear-gradient(90deg, #09ff00 0%, #079600 100%);
}

#OpenMenu,
#CloseMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}