html {
    scroll-behavior: smooth;
}

.cabecalho {
    height: 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex: 1 1 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: -1.3pc;
    border-bottom: 1px solid rgb(26, 25, 25);
}

.cabecalho .logo {
    display: flex;
    gap: 30px;
    height: 55px;
}

.cabecalho .menu {
    display: flex;
    flex: 1 1 200px;
    align-items: center;
    justify-content: flex-end;
}

.cabecalho .menu li a {
    padding: 30px;
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Codygoon';
}

.cabecalho .menu li a:hover {
    border-bottom: 2px solid white;

}

.home {
    display: flex;
    background-image: url(../imagem/Fundo/teste-de-fundo.png);
    position: relative;
    background-size: cover;
    width: 110%;
    min-height: calc(100vh - 80px);
}


.home .slider {
    margin: 0 auto;
    width: 100%;
    height: 560px;
    justify-content: center;
    padding-left: 25%;
    /* qualquer coisa, muda */
}

.home .slider .slides {   
    width: 1200%;
    height: 550px;
    display: flex;
}

.home .slider .slides input {
    display: none;
}

.home .slider .slide {
    width: 25%;
    /* qualquer coisa, muda */
    position: relative;
    transition: 1s;
}

.home .slider .slide img {
    width: 1140px;
    height: 35pc;
}

.home .slider .manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.home .slider .manual-navigation label {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.home .slider .manual-navigation label:hover {
    background-color: #fff;
}


.home .slider .manual-navigation label:not(:last-child) {
    margin-right: 40px;

}

#radio1:checked~.first {
    margin-left: -1.5%;
    margin-right: 5%;
}

#radio2:checked~.first {
    margin-left: -26.2%;
    margin-right: -0.20%;
}

#radio3:checked~.first {
    margin-left: -51.3%;
}




.home .slider .navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.home .slider .navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.home .slider .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.home .slider .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio3:checked~.home .slider .navigation-auto .auto-btn1 {
    background-color: #fff;

}

/* parte da vitrine*/

.compre-ja {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 14pc;
}


.compre-ja .titulo {
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-top: 90px;
    font-family: 'Codygoon';
    color: #fff;
}




/*Parte da barra de pesquisa*/

.compre-ja .caixa-pesquisa {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 50px;
    padding: 2px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compre-ja .caixa-pesquisa .barra {
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    width: 0;
}

.compre-ja .caixa-pesquisa .pesquisa-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.compre-ja .caixa-pesquisa .lupa-branca {
    display: none;

}


.compre-ja .caixa-pesquisa:hover>.barra {
    width: 320px;
    padding-left: 20px;
}

.compre-ja .caixa-pesquisa:hover>.pesquisa-btn {
    background: #447ce7;
}

.compre-ja .caixa-pesquisa:hover>.pesquisa-btn .lupa-blue {
    display: none;
}

.compre-ja .caixa-pesquisa:hover>.pesquisa-btn .lupa-branca {
    display: flex;
    position: relative;
}

.aviso {
    display: flex;
    margin-top: 5pc;
    margin-left: 40%;
    border: 2px solid #fff;
    background-color: #1a1a1acf;
    border-radius: 5px;
    color: #fff;
    font-family: 'Codygoon', sans-serif;
}

/*Final da parte da barra de pesquisa*/

.compre-ja .lista {
    display: flex;
    flex-direction: row;
    min-width: calc(100%/2);
}



.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.carrossel-track {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
.compre-ja .cartao {
    display: flex;
    margin: 10px;
    margin-left: 9pc;
    padding: 9px 2px 9px 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    gap: 30px;
    color: #fff;
    cursor: pointer;
    font-family: 'Codygoon', sans-serif;
    background-color: #0f131f;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
}


.compre-ja .lista .cartao .imagem {
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}

.prev, .next {
    position: absolute;
    top:195%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 5pc;
}

.next {
    right: 5pc;
}



.compre-ja .lista .cartao .informacoes {
    display: grid
}


.compre-ja .lista .cartao .informacoes .titulo {
    display: none;
    font-size: 20px;
    font-weight: bold;
}

.compre-ja .lista .cartao .informacoes .texto {
    display: none;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}

.compre-ja .lista .cartao .imagem:hover {
    transform: translateY(-5px);
}


.btn-comprar,
.btn-plataforma {
    display: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    font-family: 'Milestone One';
    font-size: 28px;
    margin-right: -50%;
    align-items: right;
    text-align: center;
    padding: 10px 40px;
    text-transform: uppercase;
    width: 25%;
    transition: all .3s ease-in;
}


.compre-ja .informacoes .plataformas {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}


.compre-ja .btn-plataforma .plataformas {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s ease-in;
    display: none;
    opacity: 0;
}

.compre-ja .btn-plataforma .plataformas.ativo {
    display: flex;
    opacity: 1;
}

.compre-ja .lista .cartao .informacoes .btn-carrinho {
    background: none;
    display: flex;
    flex-direction: row;
    margin-left: 60pc;
    margin-top: -2.5pc;
    height: 30px;
    width: 30px;
    border: none;
}

.compre-ja .lista .cartao .informacoes .carrinho {
    width: 30px;

}