.cabecalho {
    height: 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex: 1 1 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid rgb(26, 25, 25);
}

.cabecalho .logo {
    display: flex;
    gap: 30px;
    height: 55px;
}

.cabecalho .menu {
    display: flex;
    flex: 1 1 200px;
    align-items: center;
    justify-content: flex-end;
}


.cabecalho .menu li a {
    padding: 30px;
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Codygoon';
}

.cabecalho .menu li a:hover {
    border-bottom: 2px solid white;

}

.home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
    overflow: hidden;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
}



.home::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.493) 100%, transparent 100%);
}

.home .imagem-fundo {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}


.home:hover::before {
    background-color: rgba(0, 0, 0, 0);
}